name: HITL Demo Workflow

on:
  workflow_dispatch:   # manual trigger for testing
  pull_request:        # run on PRs into main
  push:                # run when branch pushed to remote repo

jobs:
  hitl-test:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Ensure Docker is available
        run: docker --version || { echo "Docker not found"; exit 1; }
        
      - name: Build Embedded Project with Docker
        run: docker run --rm -v ${PWD}:/workspace -w /workspace/firmware stm32devboardcompiler make clean all

      - name: Ensure CubeProgrammerCLI is available
        run: CubeProgrammerCLI --version || { echo "CubeProgrammerCLI not found"; exit 1; }

      - name: Program the STM32Devboard
        run: CubeProgrammerCLI -c port=SWD mode=UR -d STM32Devboard.bin -v

      - name: Verify Python installation
        run: python --version || { echo "Python not found"; exit 1; }

      - name: Ensure conda is available
        run: conda --version || { echo "Conda not found"; exit 1; }
        
      - name: Install Python dependencies with Conda
        run: conda env update --file environment.yml --name testframework --prune

      - name: Install Python dependencies with Conda
        shell: powershell
        run: |
          & "$((conda info --base))\shell\condabin\conda-hook.ps1"
          conda activate testframework
          conda env update --file environment.yml --prune

      - name: Run HITL tests
        shell: powershell
        run: |
          & "$((conda info --base))\shell\condabin\conda-hook.ps1"
          conda activate testframework
          python -m pytest --maxfail=1 --disable-warnings -q
